body {
    background-color: rgb(48, 145, 145);
    font: normal 15pt Arial;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #15161696;
}

footer {
    color: rgb(54, 117, 96);

    text-align: center;
    font-style: italic;
}

#foto {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#btn-main {
   
    color: rgb(28, 29, 29);
    background-color: rgb(12, 233, 203);
    font-size: 1rem;
    border-radius: 10%;
}

#btn-main:hover {
    background-color: rgb(45, 170, 128);
    box-shadow: 3px 3px 10px #15161696;
    
}